<div class="row project">
    <div class="col s12">
        <div class="section">
            <h4 class="blue-grey-text">Cards in {{vm.board.name}}</h4>
        </div>
        <div class="divider black"></div>
        <div ng-show="vm.board.cards.length === 0" class="center">
            <h5 class="blue-grey-text">No active cards.</h5>
        </div>
        <div class="row">
            <div class="col s12 m3" ng-repeat="card in vm.board.cards">
                <div class="card blue-grey  medium hoverable">
                    <div class="card-content white-text">
                        <span class="card-title">{{card.name}}</span>
                        <p class="card-details">{{card.createdAt *1000 | date:'yyyy-MM-dd'}}</p>
                        <p class="card-content">{{card.text_content}}</p>
                    </div>
                    <div class="card-action">
                        <a ui-href="#confirmModal" class="white-text" style="cursor:pointer"
                            ng-click="vm.deleteCard(card)">
                            <i class="material-icons right small">delete</i>
                        </a>
                    </div>
                </div>
            </div>
            <a ui-href="#createModal" style="cursor:pointer"
                    ng-click="vm.openModal()"
                    class="btn-floating btn-large waves-effect waves-light blue-grey add">
                    <i class="material-icons">add</i>
                </a>
        </div>
    </div>
</div>

<confirm-modal
        data-show="vm.ui.confirmModal.show"
        data-title="{{vm.ui.confirmModal.title}}"
        data-action="vm.confirmDelete(item)"
        data-item="vm.ui.confirmModal.itemToDelete">
</confirm-modal>

<create-modal
        data-show-modal="vm.ui.createModal.showModal"
        data-title="{{vm.ui.createModal.header}}"
        data-action="vm.createCard(item)"
        data-item="vm.ui.createModal.newCard">
</create-modal>