<!--<div id="modal" class="modal teal lighten-5" ng-class="{open : show}">
    <div class="modal-content orange lighten-1">
        <h4 class="white-text">Are you sure you want to delete {{title}}</h4>

    </div>
    <div class="modal-content">

        <a class="waves-effect waves-light btn" ng-click="completeAction()">
            Confirm delete of <div>{{item.id}}</div>
        </a>
        <a class="waves-effect waves-light btn" ng-click="show = false">Cancel</a>
    </div>
</div>
<div class="modal-overlay" ng-class="{open : show}"></div>-->


<div id="modal" class="modal" ng-class="{open : show}">
    <div class="modal-content">
      <h4>Delete Confirmation</h4>
      <div class="divider"></div>
      <p>Are you sure you want to delete board: <b>{{title}}</b></p>
    </div>
    <div class="modal-footer">
        <a class="modal-action waves-effect waves-green btn-flat" ng-click="show = false">Cancel</a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="completeAction()">
           Delete
        </a>

    </div>
</div>
  <div class="modal-overlay" ng-class="{open : show}"></div>
